[Unit]
Description=Disable wake up on USB events

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash /usr/local/bin/nousbwake.sh

[Install]
WantedBy=multi-user.target
